* {
    box-sizing: border-box;
}

span {
    transition: width 2s, height 2s, transform 2s, font-size 2s;
}

span:hover {
    font-size: 55px;
    line-height: 4em;
    width: 4em;
    transform: rotate(45deg) scale(1.2, 1.2);
}

section {
    display: flex;
    flex-wrap: wrap;
}

section div{
    width: 24.6%;
    margin: 0.2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div:nth-of-type(9) {
    height: 100%;
}

@media (max-width:1024px) {
    section div {
            height: 300px;
        width: 48%;
    }
}

@media (max-width:600px) {
    section div {
        height: 300px;
        width: 99%;
    }
}

div:nth-of-type(1) {
    justify-content: center;
}