*{
    margin: 0px;
    padding: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}

nav {
    width: 100%;
    height: 40px;
    background-color: #333;
    padding: 10px;
    position: fixed;
    top: 0px;
}

.navbar {
    float: right;
    margin-right: 15px;
}

button {
    margin-left: 10px;
    padding: 8px 15px;
    background-color: #282828;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #777;
}

section img {
    width: 100%;
}

section div {
    position: absolute;
    top: 55%;
    left: 20%;
    float: left;
    font-size: 2rem;
    color: wheat;
}