* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 20px;
    border: 1px solid blue;
}

#img {
    height: 10%;
    width: 100%;
}

main {
    float: left;
    width: 60%;
    
}

.titol {
    color: lightskyblue;
    font-family: Helvetica;
    font-size: 30px;
    padding-left: 5px;
    padding-top: 10px;
}

.lorem {
    padding-left: 5px;
    padding-top: 10px;
}

aside {
    float: right    ;
}